@import 'clapp-base';

#content{
   background-color: rgb(13, 255, 0)
}

p{
  @include clapp-body-demi();
  font-size: 1.5rem;
  font-weight: bold;
  color: $applaudo-purple;
}

.prueba{
width: 100%;
background-color: rgb(186, 10, 186);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  height: 40px;
  border-left: 2px solid $white;
  padding: 5px;
  margin-top: 2px;
  margin-left: 5px;
  @include clapp-body-demi();
  

.uno{
  margin-left: 10px;

}

.dos{
  @include clapp-body-demi();
  color: $white;
}
}