
<cl-sidebar-context (isCollapsedSidebar)="isCollapsedSidebar = $event">
    <ng-container sidebarHeader>
        <div id="sideBar-logo">
            <img id="isotype" src="../../../../../assets/images/logos/gatekeeper/gatekeeper_Isotype.png">
            <img id="logo" *ngIf="!isCollapsedSidebar"
                src="../../../../../assets/images/logos/gatekeeper/gatekeeper_Logo.png">
        </div>
    </ng-container>
    
    <ng-container sidebarContent>

        <a href="" class="prueba">
            <div class="uno">
                <cl-svg-icon icon="hr" fill="White"></cl-svg-icon>
            </div>
            <div class="dos" *ngIf="!isCollapsedSidebar">Users</div>
        </a>

        <a href="" class="prueba">
            <div class="uno">
                <cl-svg-icon icon="apps" fill="White"></cl-svg-icon>
            </div>
            <div class="dos" *ngIf="!isCollapsedSidebar">Applications</div>
        </a>

        <a href="" class="prueba">
            <div class="uno">
                <cl-svg-icon icon="settings" fill="White"></cl-svg-icon>
            </div>
            <div class="dos" *ngIf="!isCollapsedSidebar">Settings</div>
        </a>

    </ng-container>

    <ng-container sidebarFooter>

        <a href="" class="prueba">
            <div class="uno">
                <cl-svg-icon icon="logOut" fill="White"></cl-svg-icon>
            </div>
            <div class="dos" *ngIf="!isCollapsedSidebar">Log out</div>
        </a>
    </ng-container>

    <ng-container content>

        <div id="content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quaerat? Nihil corporis totam dolorum
                quisquam doloribus labore, eum tempore, a necessitatibus id omnis magnam minima unde harum. Illum,
                doloremque architecto.
            </p>
        </div>
    </ng-container>


</cl-sidebar-context>