@import 'clapp-base';

#content {
  // background-color: rgb(13, 255, 0)
}

p {
  @include clapp-body-demi();
  font-size: 1.5rem;
  font-weight: bold;
  color: $applaudo-purple;
}

#sideBar-logo {

  width: auto;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;

  #isotype {
    height: 15px;
    display: flex;
  }

  #logo {
    height: 19px;
    justify-content: center;
    align-items: flex-end;
  }

}

