//Layout Colors

$applaudo-navy-blue : #011625;
$applaudo-red : #FF4040;
$light-gray:#F6F6F6;
$white:#FFFFFF;

//Interactive Colors

$applaudo-red-plus:#FF6060;
$applaudo-red-minus:#E60000;

//Denotative Colors

$error-red:#B80000;
$green:#1BCB80;
$mid-gray:#C4C4C4;
$yellow:#FBB214;

//Neutral Colors

$charcoal:#36434E;
$cool-gray:#687177;
$platinum:#E2E2E2;

//Additional Colors

$applaudo-purple:#893EFF;
$blue:#0077FF;
$bronze:#A57200;
$light-navy-blue:#417BA4;
$cyan: #0BC2EF;